@model List<ContactApp.Models.ContactModel>
<div class="mt-5">
    <h2 class="text-center">Liste de contacts</h2>
    @* Barre de recherche qui filtre les contacts par nom *@
    <form method="get" asp-action="Index" class="mb-4">
        <input type="search" name="searchValue" class="form-control" placeholder="Chercher un nom"
               value="@Context.Request.Query["searchValue"]" />
    </form>

    @* Liste des contacts *@
    <ul>
        @foreach (var contact in Model)
        {
            <li>@contact.Name : @contact.Email - @contact.Phone
                <form method="post" action="/Contact/delete/@contact.Id" style="display:inline;">
                    <button class="btn btn-danger ms-5">Supprimer</button>
                </form>
            </li>
        }
    </ul>
</div>