@{
    ViewData["Title"] = "Contacts";
}
@model List<ContactApp.Models.ContactModel>

<div>
    @await Html.PartialAsync("_AddContactForm", new ContactModel())
    @await Html.PartialAsync("_ContactList", Model)
</div>